<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Form group in grid</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="col-1"
                      >One of three cols</label
                    >
                    <input
                      type="text"
                      id="col-1"
                      class="form-control form-control-alternative"
                      placeholder="One of three cols"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="col-2"
                      >One of three cols</label
                    >
                    <input
                      type="text"
                      id="col-2"
                      class="form-control form-control-alternative"
                      placeholder="One of three cols"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="col-3"
                      >One of three cols</label
                    >
                    <input
                      type="text"
                      id="col-3"
                      class="form-control form-control-alternative"
                      placeholder="One of three cols"
                      value=""
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="col-4"
                      >One of four cols</label
                    >
                    <input
                      type="text"
                      id="col-4"
                      class="form-control form-control-alternative"
                      placeholder="One of four cols"
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="col-5"
                      >One of four cols</label
                    >
                    <input
                      type="text"
                      id="col-5"
                      class="form-control form-control-alternative"
                      placeholder="One of four cols"
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="col-6"
                      >One of four cols</label
                    >
                    <input
                      type="text"
                      id="col-6"
                      class="form-control form-control-alternative"
                      placeholder="One of four cols"
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="col-7"
                      >One of four cols</label
                    >
                    <input
                      type="text"
                      id="col-7"
                      class="form-control form-control-alternative"
                      placeholder="One of four cols"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="col-8"
                      >One of two cols</label
                    >
                    <input
                      type="text"
                      id="col-8"
                      class="form-control form-control-alternative"
                      placeholder="One of two cols"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="col-9"
                      >One of two cols</label
                    >
                    <input
                      type="text"
                      id="col-9"
                      class="form-control form-control-alternative"
                      placeholder="One of two cols"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
