<nav
  class="navbar navbar-top bg-secondary navbar-expand-md navbar-dark"
  id="navbar-main"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a
      class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
      routerLinkActive="active"
      [routerLink]="['/dashboard']"
      >{{ getTitle() }}</a
    >
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img
                alt="Image placeholder"
                src="
              assets/img/avatars/avatar.svg
              "
              />
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h5 class="text-overflow m-0">Welcome!</h5>
          </div>
          <a href="#" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a href="#" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
