<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">HTML5 inputs</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="pl-lg-4">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-text"
                    >Text</label
                  >
                  <input
                    type="text"
                    id="input-text"
                    class="form-control form-control-alternative"
                    placeholder="John Snow"
                    value="John Snow"
                  />
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-search"
                      >Search</label
                    >
                    <input
                      type="search"
                      id="input-search"
                      class="form-control form-control-alternative"
                      placeholder="Tell me your secret ..."
                    />
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email"
                    >Email</label
                  >
                  <input
                    type="email"
                    id="input-email"
                    class="form-control form-control-alternative"
                    placeholder="argon@example.com"
                    value="argon@example.com"
                  />
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-url"
                      >URL</label
                    >
                    <input
                      type="url"
                      id="input-url"
                      class="form-control form-control-alternative"
                      placeholder="https://www.creative-tim.com"
                      value="https://www.creative-tim.com"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone"
                      >Phone</label
                    >
                    <input
                      type="text"
                      id="input-phone"
                      class="form-control form-control-alternative"
                      placeholder="40-(770)-888-444"
                      value="40-(770)-888-444"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-password"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="input-password"
                      class="form-control form-control-alternative"
                      placeholder="*******"
                      value="*******"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-number"
                      >Number</label
                    >
                    <input
                      type="number"
                      id="input-number"
                      class="form-control form-control-alternative"
                      placeholder="23"
                      value="23"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date-time"
                      >Date Time</label
                    >
                    <input
                      type="datetime-local"
                      id="input-date-time"
                      class="form-control form-control-alternative"
                      placeholder=" 2019-08-19T10:30:00"
                      value="2019-08-19T10:30:00"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date"
                      >Date</label
                    >
                    <input
                      type="date"
                      id="input-date"
                      class="form-control form-control-alternative"
                      placeholder="2019-08-19"
                      value="2019-08-19"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-month"
                      >Month</label
                    >
                    <input
                      type="month"
                      id="input-month"
                      class="form-control form-control-alternative"
                      placeholder="
                      2019-08"
                      value="2019-08"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-week"
                      >Week</label
                    >
                    <input
                      type="week"
                      id="input-week"
                      class="form-control form-control-alternative"
                      placeholder="
                      2019-W33"
                      value="2019-W33"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-time"
                      >Time</label
                    >
                    <input
                      type="time"
                      id="input-time"
                      class="form-control form-control-alternative"
                      placeholder="
                      10:30:00"
                      value="10:30:00"
                    />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-color"
                      >Color</label
                    >
                    <input
                      type="color"
                      id="input-color"
                      class="form-control form-control-alternative"
                      placeholder="
                      #5e72e4"
                      value="#5e72e4"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-header">
          <div class="row">
            <div class="d-block">
              <h2 class="mb-3">Buttons Styles</h2>
            </div>
            <div class="card-body">
              <div class="btn-wrapper align-content-right">
                <button type="button" class="btn btn-primary m-2">
                  Button
                </button>
                <button type="button" class="btn btn-primary m-2">
                  <i class="ni ni-bag-17"></i> Button
                </button>
                <button type="button" class="btn btn-primary m-2">
                  <i class="ni ni-atom"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Colors</h2>
            </div>
            <div class="card-body">
              <div class="btn-wrapper">
                <button type="button" class="btn btn-default m-2">
                  Default
                </button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">
                  Secondary
                </button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Sizes</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-large"
                >Large input</label
              >
              <input
                type="text"
                id="input-large"
                class="form-control form-control-lg form-control-alternative"
                placeholder="
                .form-control-lg "
                value=".form-control-lg "
              />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-default"
                >Default input</label
              >
              <input
                type="text"
                id="input-default"
                class="form-control form-control-alternative"
                placeholder="Default Input"
                value="Default Input "
              />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-large"
                >Small input</label
              >
              <input
                type="text"
                id="input-large"
                class="form-control form-control-alternative form-control-sm"
                placeholder="
                .form-control-sm "
                value=".form-control-sm "
              />
            </div>
          </div>
        </div>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Select</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-single-selection"
                >Single Selection</label
              >
              <select
                class="form-control"
                data-trigger
                name="choices-single-default"
                id="choices-single-default"
              >
                <option disabled selected>Single Option</option>
                <option value="2">Foobar</option>
                <option value="3">Is great</option>
                <option value="4">Pick one</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-multiple-selection"
                >Multiple selection</label
              >
              <select
                class="form-control"
                data-trigger
                name="choices-multiple-default"
                id="choices-multiple-default"
                multiple
              >
                <option disabled>Multiple Options</option>
                <option value="2">Paris</option>
                <option value="3">Bucharest</option>
                <option value="4">Rome</option>
                <option value="5">New York</option>
                <option value="6">Miami</option>
                <option value="7">Los Santos</option>
                <option value="8">Sydney</option>
                <option value="9">Piatra Neamt</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Checkboxes and radios</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-checkboxes"
                >Checkboxes</label
              >
              <div class="custom-control custom-checkbox mb-3">
                <input
                  class="custom-control-input"
                  id="customCheck1"
                  type="checkbox"
                />
                <label class="custom-control-label" for="customCheck1"
                  >Unchecked</label
                >
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input
                  class="custom-control-input"
                  id="customCheck2"
                  type="checkbox"
                  checked
                />
                <label class="custom-control-label" for="customCheck2"
                  >Checked</label
                >
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input
                  class="custom-control-input"
                  id="customCheck3"
                  type="checkbox"
                  disabled
                />
                <label class="custom-control-label" for="customCheck3"
                  >Disabled Unchecked</label
                >
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input
                  class="custom-control-input"
                  id="customCheck4"
                  type="checkbox"
                  checked
                  disabled
                />
                <label class="custom-control-label" for="customCheck4"
                  >Disabled Checked</label
                >
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-radio-buttons"
                >Radio buttons</label
              >
              <div class="custom-control custom-radio mb-3">
                <input
                  name="custom-radio-1"
                  class="custom-control-input"
                  id="customRadio1"
                  type="radio"
                />
                <label class="custom-control-label" for="customRadio1"
                  >Unchecked</label
                >
              </div>
              <div class="custom-control custom-radio mb-3">
                <input
                  name="custom-radio-1"
                  class="custom-control-input"
                  id="customRadio2"
                  checked=""
                  type="radio"
                />
                <label class="custom-control-label" for="customRadio2"
                  >Checked</label
                >
              </div>
              <div class="custom-control custom-radio mb-3">
                <input
                  name="custom-radio-1"
                  class="custom-control-input"
                  id="customRadio3"
                  disabled=""
                  type="radio"
                />
                <label class="custom-control-label" for="customRadio3"
                  >Disabled unchecked</label
                >
              </div>
              <div class="custom-control custom-radio mb-3">
                <input
                  name="custom-radio-1"
                  class="custom-control-input"
                  id="customRadio4"
                  checked=""
                  disabled=""
                  type="radio"
                />
                <label class="custom-control-label" for="customRadio4"
                  >Disabled checkbox</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
